extends layout 

block content 
  .row.banner 
    .col-12 
      h1= title
  .row
    .col-12.col-lg-8
      p 
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
        | <br/><br/>
        | This is filler text 
        | <br/> <br/>
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
        | Locater was created for practice as I followed the book "Getting MEAN with Mongo, Express, Angular, and Node"
